html {
    position:relative;
    width:flex;
    background-color:black;
}

* {
    font-family:monospace;
}

#FGLDisplayPanel {
    display:block; margin-left:auto; margin-right:auto; text-align:center;
    width:flex; height:flex;
}
#FGLCommunicator {
    display:block; margin-left:auto; margin-right:auto; margin-top:1%; width:200px;
    text-align:center;
}
#FGLSubmitter {
    display:block; margin-left:auto; margin-right:auto; margin-top:1%; margin-bottom:2%;
    font-family:monospace;
}
#Interactor {
    display:block; background-color:blue; width:flex; height:flex;
}

#Interactor p {
    display:block; text-align:left;
    margin-left:3%; color:white;
}

#FGPanel li {
    display:block; margin-left:auto; margin-right:3%; margin-top:.2%;
    color:white; text-align:center;
    background-color:black;
}

#FGPanel li:hover {
    color:black; background-color:white;
}

#FGPanel:after {
    content:"";
    display:block; padding-bottom:2%;
}

#FG {
    padding:.5%;
    font-family:monospace;
}

.TT:hover:after {
    color:limegreen; font-family:monospace; content:" awaits you"
}

.Author {
    
}

footer {
    text-align:center; display:block;
    color:white; background-color:#212121;
}

footer :visited {
    color:white;
    text-decoration:overline underline;
}

footer :link {text-decoration:overline;}
footer :hover {color:#9d46ff;}