html {
    position:relative;
    width:flex;
    background-color:black;
}

#TruthOutput {
    display:block; margin-left:40%; text-align:center;
    width:flex; height:flex;
}
#TruthComm {
    display:block; margin-left:42%; margin-top:2%;
    text-align:center;
}
#TruthSubmitter {
    display:inline; margin-left:47%; margin-top:1%; margin-bottom:2%;
    font-family:monospace;
}
#Interactor {
    display:block; background-color:blue; width:flex; height:20px;
}

#Interactor p {
    margin:3%; color:white;
}

footer {
    text-align:center; display:block;
    color:white; background-color:grey;
}

footer :visited {
    color:white;
    text-decoration:overline underline;
}

footer :link {text-decoration:overline;}
footer :hover {color:black;}